.myStackSection {
  width: calc(100vw);
  height: calc(100vh);
  background-color: rgba(248, 199, 12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 5 !important;
}

.burgerImgWrapper {
  height: 75%;
  aspect-ratio: 9/16;
}
.burgerImgWrapper img {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 9/16;
  user-select: none;
  pointer-events: none;
}
