.iconWrapper {
  font-size: 48px;
  font-family: "Roboto Flex", sans-serif;
  letter-spacing: normal;
  font-weight: 600;
  color: #282828;
  background: #faf9f6;
  line-height: 1;
  border-radius: 8px;
  z-index: 1;
}

.headerWrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-inline: 32px;
  padding-top: 12px;
  color: #faf9f6;
  z-index: 999;
}
