/* Exo Thin Font */
@import url("https://fonts.googleapis.com/css?family=Exo:100");

/* Background image */
:root {
  --bg-url: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC");
  --bg-size: 50px;
}

/* Animation Keyframes */
@keyframes bg-scrolling-reverse {
  100% {
    background-position: var(--bg-size) var(--bg-size);
  }
}

.infinite-scroll-bg { display: none !important; }

.infinite-scroll-bg::before { display: none; }
