.popupWindow {
  width: 360px;
  height: 480px;
  border: 1px solid rgba(250, 249, 246, 0.5);
  background: rgba(77, 168, 218, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1px);
  border-radius: 12px;
  position: absolute;
  overflow: hidden;
  right: 30%;
  top: 45%;
  z-index: 12;
  transform: translate(50%, -55%);
  opacity: 0;
  pointer-events: none; /* prevent clicking when hidden */
}

.popupWindow.fade-in {
  animation: fadeInPopup 0.5s ease forwards;
  pointer-events: auto;
}

.popupWindow.fade-out {
  animation: fadeOutPopup 0.5s ease forwards;
  pointer-events: none;
}

/* Animations */
@keyframes fadeOutPopup {
  from {
    opacity: 0;
    transform: translate(40%, -45%);
  }
  to {
    opacity: 1;
    transform: translate(50%, -50%);
  }
}

@keyframes fadeInPopup {
  from {
    opacity: 1;
    transform: translate(50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(40%, -45%);
  }
}
