.landingSection {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 5 !important;
}

.devImgWrapper {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  height: 75%;
  aspect-ratio: 2 / 3;
  z-index: 11;
}
.devImgWrapper img {
  width: 100%;
  height: auto;
  filter: drop-shadow(4px 6px 12px rgba(0, 0, 0, 0.35));
  display: block;
  aspect-ratio: 2 / 3;
  user-select: none;
  pointer-events: none;
  z-index: 11;
}
.emailWrap {
  position: absolute;
  bottom: 36vh;
  left: 0;
  display: inline-block;
  padding: 6px 12px;
  width: fit-content;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: normal;
  color: #faf9f6;
  background-color: rgba(248, 199, 12, 0.7);
  filter: drop-shadow(4px 6px 12px rgba(0, 0, 0, 0.35));
  backdrop-filter: blur(0.75px);
  -webkit-backdrop-filter: blur(0.75px);
  border: 1px solid #faf9f6;
  border-bottom: 0px;
  border-radius: 6px 6px 0 0;
  transform-origin: bottom left;
  transform: rotate(90deg);
  transition: background-color 0.4s ease-out, opacity 0.4s ease-out;
  z-index: 12;
}

.emailWrap:hover {
  background-color: rgba(40, 40, 40, 0.7);
  backdrop-filter: blur(0.75px);
}
