:root {
  --drop-shadow: drop-shadow(4px 6px 12px rgba(0, 0, 0, 0.35));
  --hover-shadow: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.175));
}

.iconWrapper {
  filter: var(--drop-shadow);
  border-radius: 8px;
  margin: 16px;
  z-index: 11;
  transform: translateY(0);
  transition: transform 0.4s ease-out;
  backface-visibility: hidden;
  will-change: transform;
  transform-style: preserve-3d;
  opacity: 0.8;
}

.actionBtnWrapper {
  background-color: rgba(77, 168, 218, 0.8);
  color: rgba(250, 249, 246, 0.8);
  border: 1px solid rgba(248, 199, 12, 0.8);
  transition: filter 0.2s ease-out, transform 0.1s ease-out;
  will-change: filter, transform;
  backface-visibility: hidden;
  will-change: transform;
  transform-style: preserve-3d;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  backdrop-filter: blur(0.75px);
  -webkit-backdrop-filter: blur(0.75px);
  border-radius: 26px;
  display: inline-flex;
  filter: var(--drop-shadow);
  border-radius: 12px;
  padding: 12px;
  margin: 16px 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1;
}

.actionBtnWrapper:active {
  filter: var(--hover-shadow);
  transition: transform 0.1s ease-out;
  transform: translateY(2px);
}

.headerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
