.bgletterS1 {
  font-size: 2vh;
  font-family: "Geist", sans-serif;
  font-weight: 600;
  line-height: 1;
  color: #282828;
  opacity: 0.05;
  transition: all 1.4s ease;
}

.bgletterS1:hover {
  opacity: 0.4;
  color: #f8c70c;
  transition: all 0ms ease-out;
}

.bgWrapS1 {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  top: 0;
  left: 0;
  z-index: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.emailWrap {
  background-color: #f8c70c;
  position: fixed;
  bottom: 24vh;
  left: -98px;
  width: fit-content;
  padding: 6px 6px 10px 6px;
  line-height: 1;
  transform: rotate(90deg);
  border: 1px solid #faf9f6;
  border-radius: 8px 8px 0px 0px;
  color: #faf9f6;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  z-index: 100;
  /* will-change: transform; */
  transition: transform 0.4s ease-out;
}

.emailWrap:hover {
  background-color: #282828;
  opacity: 0.5;
  transition: all 0.4s ease-out;
}
