.bgletterS1 {
  font-size: 2vh;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 600;
  line-height: 1;
  color: #282828;
  opacity: 0.05;
  transition: all 1.4s ease;
}

.bgletterS1:hover {
  opacity: 0.4;
  color: #ffd54f;
  transition: all 0ms ease-out;
}

.bgWrapS1 {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  top: 0;
  left: 0;
  z-index: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.emailWrap {
  position: absolute;
  bottom: 34vh;
  left: 0;
  display: inline-block;
  padding: 6px 12px;
  width: fit-content;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: normal;

  color: #faf9f6;
  background-color: #f8c70c;
  border: 1px solid #faf9f6;
  border-radius: 4px;

  transition: background-color 0.4s ease-out, opacity 0.4s ease-out;

  z-index: 100;
}

.emailWrap:hover {
  background-color: #282828;
  opacity: 0.5;
}
