.globelWrap {
  background-color: #fafafa;
  overflow: hidden;
}
.landingSection {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 5 !important;
}

.myStackSection {
  width: 100%;
  height: 64vh;
  background-color: #f8c70c;
  overflow: hidden;
  z-index: 5 !important;
}

.infoSectionWrap {
  height: fit-content;
  overflow: hidden;
  position: relative;
  z-index: 5 !important;
}

.devImgWrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  aspect-ratio: 2 / 3;
}
.devImgWrapper img {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 2 / 3;
  user-select: none;
  pointer-events: none;
}
