.globelWrap {
  background-color: #faf9f6;
  position: relative;
  overflow: hidden;
}
.landingSection {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 5 !important;
}
.infoSectionWrap {
  height: fit-content;
  overflow: hidden;
  position: relative;
  z-index: 5 !important;
}

@supports (animation-timeline: scroll()) {
  @keyframes slide-up {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-120%);
    }
  }

  @keyframes slide-left {
    from {
      transform: rotate(90deg) translateY(0);
    }
    to {
      transform: rotate(90deg) translateY(120%);
    }
  }

  .iconWrapper {
    animation: slide-up linear both;
    animation-timeline: scroll();
    animation-range: 0 70vh;
  }

  .emailWrap {
    animation: slide-left linear both;
    animation-timeline: scroll();
    animation-range: 0 70vh;
  }
}

@supports not (animation-timeline: scroll()) {
  body[data-scroll-position="down"] .iconWrapper {
    transform: translateY(-120%);
  }

  body[data-scroll-position="down"] .emailWrap {
    transform: rotate(90deg) translateY(120%);
  }
}
